.post-info-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-top: 30px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

h4{
  background-color: #929597;
  text-align: left;
  padding: 3px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 12px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 15px;
  background-color: #929597;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

